<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffee.uitemplate" >

    <uses-sdk android:minSdkVersion="16" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Google Play filtering -->
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DeviceDiscoveryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.coffee.uitemplate.WelcomeScreen"
            android:label="@string/title_activity_welcome_screen" >
        </activity>
        <activity
            android:name="com.example.coffee.uitemplate.Kudos"
            android:label="@string/title_activity_kudos" >
        </activity>
        <activity
            android:name="com.example.coffee.uitemplate.Queue"
            android:label="@string/title_activity_queue" >
        </activity>
        <activity
            android:name="com.example.coffee.uitemplate.VideoSearch"
            android:label="@string/title_activity_video_search" >
        </activity>
    </application>

</manifest>
