<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffee.uitemplate" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.coffee.uitemplate.TableDiscoveryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.coffee.uitemplate.WelcomeScreen"
            android:label="@string/title_activity_welcome_screen" >
        </activity>
        <activity
            android:name="com.example.coffee.uitemplate.Kudos"
            android:label="@string/title_activity_kudos" >
        </activity>
        <activity
            android:name="com.example.coffee.uitemplate.Queue"
            android:label="@string/title_activity_queue" >
        </activity>
    </application>

</manifest>
